{% block content %}

<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8">
		<title>Savings</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
			<link rel="stylesheet" href="{% static 'css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html"></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>SAV-e</h2>
				<p>A Better way to save electronically</p>
			</section>

		<p align="center">
		<img src=".\img\image.png" height="400" width="500"><br/>

		Total Savings = $247.99<br/><br/>
		How much would you want to save for the following?<br/>
		Fast Food 			<input type="text"><br/>
		Beverages			<input type="text"><br/>
		Alcohol	  			<input type="text"><br/>
		Grocery/Essentials	<input type="text"><br/>
		Bills				<input type="text"><br/>
		Fashion				<input type="text"><br/>
		Electronics			<input type="text"><br/>
		Miscellaneous		<input type="text"><br/>
		Online Purchases	<input type="text"><br/>
		<br/>
		Where do you want to allocate your savings?<br/>
		<button type="button">Bill Payment</button><button type="button">Mortgage</button><button type="button">TFSA</button><button type="button">RESP</button><button type="button">RRSP</button>



		</p>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
	</body>
</html>

{% endblock %}
